html {
    height: 100%;
    width:100%;
}

/* Main image*/

.img-responsive {
    height: 100%;
    width: 100%;
}
.icon-size {
    width: 360px;
    height: 360px;
}
/* --------------------------*/

.icons {
    width: 20px;
    height: 20px;
    margin-top:-25px;
    margin-left:5px;
}

/* Login */
.form-signin {
    margin: 0 auto;
    max-width: 430px;
}


.forget {
    font-size:15px;
	text-align: center;
	display: block;
}


.login-form {
    padding-top:20px;
}

.registration-form {
    padding-top: 20px;
}

.button-recovery-cancel {
    color:red;
}

.button-recovery-accept {
    color:green;
}
/* --------------------------*/


/* For login icons*/
.inner-addon { 
    position: relative; 
}

.inner-addon .glyphicon {
  position: absolute;
  margin-top:10px;
  margin-left:25px;
  pointer-events: none;
}

.left-addon .glyphicon {
    left: 0px;
}

.left-addon input {
    padding-left: 30px;
}
/* -------------------- */

/*
#page-content-wrapper {
   position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
}

.item {
    position:absolute;
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;

  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center; 
}
    */


/* Registration*/

.form-registration {
    padding-top:20px;
    margin: 0 auto;
    
}

.info-registration {
    text-align:right;
}

.extended-info {
    padding-top:40px;
}

.registration-h1 {
    text-align:center;
}
.icons-registration {
    margin-left:5px;
    width: 20px;
    height: 20px;
    margin-top:-52px;
}
/* --------------------*/