<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="lt.vu.mif.ps5.kupra.entity.User"/>
        <mapping class="lt.vu.mif.ps5.kupra.entity.Unit"/>
        <mapping class="lt.vu.mif.ps5.kupra.entity.Product"/>
        <mapping class="lt.vu.mif.ps5.kupra.entity.Recipe"/>
        <mapping class="lt.vu.mif.ps5.kupra.entity.UserProduct"/>
        <mapping class="lt.vu.mif.ps5.kupra.entity.Ingredient"/>
    </session-factory>
</hibernate-configuration>